Makefile
Makefile.in
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
po/POTFILES
src/.deps/
stamp-h1
src/cairo_clock
src/*.o

