Source: cairo-clock
Section: x11
Priority: optional
Maintainer: Mirco Müller <macslow@bangang.de>
Build-Depends: debhelper (>= 4.0.0), libxml-parser-perl (>= 2.34), autotools-dev, libgtk2.0-dev (>= 2.10.0), libcairo2-dev (>= 1.2.0), libglade2-dev (>= 2.6.0), librsvg2-dev (>= 2.14.0)
Standards-Version: 3.6.2

Package: cairo-clock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk2.0-0 (>= 2.10.0), libcairo2 (>= 1.2.0), libglade2-0 (>= 2.6.0), librsvg2-2 (>= 2.14.0)
Recommends: xcompmgr, compiz, x11-common (>= 7.0.0)
Replaces: cairo-clock (<= 0.3.3)
Description: An analog clock drawn with vector-graphics.
 It is an analog clock displaying the system-time. It leverages the new visual
 features offered by Xorg 7.0 in combination with a compositing-manager (e.g.
 like xcompmgr or compiz), gtk+ 2.10.0, cairo 1.2.0, libglade 2.6.0 and librsvg
 2.14.0 to produce a time display with pretty-pixels.
