[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=MacSlow's Cairo-Clock
Name[da]=MacSlow's Cairo-Ur
Name[de]=MacSlow's Cairo-Uhr
Name[en_GB]=MacSlow's Cairo-Clock
Name[es]=Reloj Cairo de MacSlow
Name[fi]=MacSlown Cairo-kello
Name[fr]=Horloge Cairo, par MacSlow
Name[it]=Cairo-Clock di MacSlow
Name[nl]=MacSlow's Cairo-klok
Name[pl]=Zegar Cairo MacSlowa
Name[pt_PT]=MacSlow's Cairo-Clock
Name[ru]=MacSlow's Cairo-Clock
Name[sl]=MacSlow Cairo Ura
Name[sv]=MacSlow's Cairo-Klocka
Name[tr]=MacSlow'un Kahire-Saati
Name[zh_CN]=MacSlow 的 Cairo 时钟
Name[zh_TW]=MacSlow's Cairo-Clock
Comment=a super fine analog clock
Comment[da]=et super smart analogt ur
Comment[de]=eine total tolle Analoguhr
Comment[en_GB]=a super fine analogue clock
Comment[es]=un super reloj analógico
Comment[fi]=erityisen hieno analoginen kello
Comment[fr]=une magnifique horloge analogique
Comment[it]=uno stupendo orologio analogico
Comment[nl]=een superleuke analoge klok
Comment[pl]=fantastyczny zegar analogowy
Comment[pt_PT]=um relógio analógico super elegante
Comment[ru]=сверхточные аналоговые часы
Comment[sl]=popolnoma Kekčeva analogna ura
Comment[sv]=en super-fin analog klocka
Comment[tr]=süper hassas bir analog saat
Comment[zh_CN]=一个绝好的模拟时钟
Comment[zh_TW]=一個超好用的類比時鐘
Exec=cairo-clock
Icon=cairo-clock
Categories=GNOME;Application;Utility;
